<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us!</title>

    <script src="https://kit.fontawesome.com/d1cdb92e4b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="AboutUs.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div id="grad">
        <div class="container-fluid">
            <div class="card" style="width: 25rem;">
                <img src="media/johan.png" class="card-img-top" alt="..." style="clip-path: circle(); margin-top: 2rem;">
                <div class="card-body">
                    <p class="card-text">Name: Johan Pochampally</p>
                    <p style="color: darkgray; font-weight: 400;">Student at Xavier Institute of Engineering.</p>
                    <p>Email: johanpochampally12@gmail.com</p>
                    <br>
                    <p><a style="text-decoration: none;" href="https://github.com/JohanPochampally"><i class="fab fa-github">&nbsp;</i>Github</a></p>
                    <p><a style="text-decoration: none;" href="https://www.linkedin.com/in/johan-pochampally-8a8795207"><i class="fab fa-linkedin">&nbsp;</i>Linkedin</a></p>
            
                </div>
            </div>
            <div class="card" style="width: 25rem;">
                <img src="media/nihal.png" class="card-img-top" alt="..." style="clip-path: circle(); filter: grayscale(100%); margin-top: 2rem;">
                <div class="card-body">
                    <p class="card-text">Name: Nihal Shah</p>
                    <p style="color: darkgray; font-weight: 400;">Student at Xavier Institute of Engineering.</p>
                    <p>Email: shahnihal01@gmail.com</p>
                    <br>
                    <p><a style="text-decoration: none;" href="https://github.com/shahnihal01"><i class="fab fa-github">&nbsp;</i>Github</a></p>
                    <p><a style="text-decoration: none;" href="https://www.linkedin.com/in/nihalshah01"><i class="fab fa-linkedin">&nbsp;</i>Linkedin</a></p>
                </div>
            </div>
            <div class="card" style="width:25rem;">
                <img src="media/caleb.png" class="card-img-top" alt="..." style="clip-path: circle(); filter: grayscale(100%); margin-top: 2rem;">
                <div class="card-body">
                    <p class="card-text">Name: Caleb Felix</p>
                    <p style="color: darkgray; font-weight: 400;">Student at Xavier Institute of Engineering.</p>
                    <p>Email: calebfelix38@gmail.com</p>
                    <br>
                    <p><a style="text-decoration: none;" href="https://github.com/calebfelix"><i class="fab fa-github">&nbsp;</i>Github</a></p>
                    <p><a style="text-decoration: none;" href="https://www.linkedin.com/in/calebfelix"><i class="fab fa-linkedin">&nbsp;</i>Linkedin</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
