<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .mar{
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>helo</h1>
    <div style="width: 30%;">
        <form id="reg" style="display: flex; flex-direction: column;" method="POST" action="/api/test">

            <input type="text" required/>
            <input required type="file" multiple name="files" id="img-files" accept=".jpeg, .jpg, .png" multiple/>


            <button onsubmit="upload()" type="submit">Log in</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  
    
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>

    <script>
        var firebaseConfig = {
                apiKey: "AIzaSyB7BMa_lGNXlgk9SsGtaY0aKGgA9-swrrw",
                authDomain: "pg-website-7495d.firebaseapp.com",
                projectId: "pg-website-7495d",
                storageBucket: "pg-website-7495d.appspot.com",
                messagingSenderId: "901304699853",
                appId: "1:901304699853:web:54236ac6f2a0e386d01284",
                databaseURL: ""
                };

                firebase.initializeApp(firebaseConfig);
    </script>
    <script src="up.js"></script>
</body>
<!-- <script type="module" src="firebaseconfig.js"></script> -->
</html>